<div class="row" style="padding-bottom:15px;">
    <div class="btn_float">
        <button type="button" class=" btn-lg eap_bg_1 text-white shadow btn_eap_bg_1 btn_float_icon px-2"
            (click)="redirectTo()">
            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>
        </button>
    </div>
</div>