.parent {
  position: relative;
  width: 100%;
  height: 50px;
  font-size: 1.3rem;
}

.switch, .overlay {
  cursor: pointer;
  height: 100%;
}

.switch {
  -webkit-appearance: initial;
  -moz-appearance: initial;
  -o-appearance: initial;
  -ms-appearance: initial;
  appearance: initial;
  position: relative;
  width: 100%;

  background: rgb(243, 243, 243);
  border-radius: 50px;
  outline: none;
}

.overlay {
  position: absolute;
  left: 0; 
  top: 0;

  width: 50%;
  line-height: 50px;

  background: hsla(48, 100%, 57%, 0.371);
  box-sizing: border-box;
  transition: left 0.3s linear;
  border-radius: 50px;
}

.switch:after, .switch:before {
  position: absolute;

  width: 50%;
  height: 100%;
  line-height: 50px;
  
  text-align: center;
  color: rgb(60, 59, 59);
}

.switch:after {
  left: 50%;
  content: "NO";
}

.switch:before {
  content: "SÍ";
}

.not-checked {
  left: 50%;
}